---
---
@import "{{ site.theme }}";

/* Add your overrides here */
@media (prefers-color-scheme: dark) {

  /* Force light mode even if system is dark */
  :root {
    --background-color: #F5F5F7;
    --text-color: #1A1A1A;
  }
  .theme-fill {
    fill: #1A1A1A;
  }
}